/* Los elementos heredan del padre por eso
	cambia el color a rojo*/
body {
	background-color: #eeeeee;
	color: #ff0000;
}
h1 {
	color: #ff0000;
}
p {
	color: #ff0000;
}

/* Otra forma de acerlo, solo lo modificas una vez*/

h1, p {
	color: #ff0000;
}